{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style="background-color: #C9C9C9">
    <h1>Список рабочих смен</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Дата</th>
                <th>Грузчик</th>
                <th>Товар</th>
                <th>Количество</th>
                {% if is_granted('ROLE_USER') %}
                    <th>Действия</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
        {% for workingShift in workingShifts %}
            <tr>
                <td>{{ workingShift.id }}</td>
                <td>{% if workingShift.date %}{{ workingShift.date|date('Y-m-d') }}{% endif %}</td>
                <td>{{ workingShift.porter }}</td>
                <td>{{ workingShift.product }}</td>
                <td>{{ workingShift.count }}</td>

                {% if is_granted('ROLE_USER') %}
                <td>
                    <a class="btn btn-success" href="{{ path('workingshift_show', { 'id': workingShift.id }) }}">Показать</a>
                    <a class="btn btn-success" href="{{ path('workingshift_edit', { 'id': workingShift.id }) }}">Редактировать</a>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
        {% if is_granted('ROLE_USER') %}
            <a class="btn btn-success" href="{{ path('workingshift_new') }}">Создать смену</a>
        {% elseif is_granted('ROLE_ADMIN') %}
            <a class="btn btn-success" href="{{ path('workingshift_new') }}">Печатать отчет</a>
        {% endif %}
</div>
{% endblock %}
