{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style="background-color: #C9C9C9">
    <h1>Товар</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Категория</th>
                <td>{{ product.category }}</td>
            </tr>
            <tr>
                <th>Вес</th>
                <td>{{ product.weight }}</td>
            </tr>
            <tr>
                <th>Цена</th>
                <td>{{ product.price }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('product_index') }}">Назад к списку</a>
    <a class="btn btn-success" href="{{ path('product_edit', { 'id': product.id }) }}">Редактировать</a>
    <a class="btn btn-success" href="{{ path('product_delete', { 'id': product.id }) }}">Удалить</a>
</div>
{% endblock %}
