{% extends 'base.html.twig' %}

{% block body %}
<div class="container" style="background-color: #C9C9C9">
    <h1>Грузчики</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ porter.id }}</td>
            </tr>
            <tr>
                <th>Имя</th>
                <td>{{ porter.name }}</td>
            </tr>
            <tr>
                <th>Фамилия</th>
                <td>{{ porter.surname }}</td>
            </tr>
            <tr>
                <th>Общий вес</th>
                <td>{{ porter.totalWeight }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('porter_index') }}">Назад к списку</a>
    <a class="btn btn-success" href="{{ path('porter_edit', { 'id': porter.id }) }}">Редактировать</a>
    <a class="btn btn-success" href="{{ path('porter_delete', { 'id': porter.id }) }}">Удалить</a>
</div>
{% endblock %}
